<!DOCTYPE html>
<html>
<head>
  <% include ../../../../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/products.css"/>
</head>

<body>
  <% include ../../../../includes/nav.ejs %>
    <% include ../../../../includes/prove03nav.ejs %>
  
<div class="jumbotron text-center" style="padding-bottom: 0px">
  <div class="container">
    <h1><%= title %></h1>
    <h3>Intersting Fact of the Week</h3>
    <p>Did you know that the Black Market trade on organs generates over a billion dollars each year, and studies estimating that anywhere from 5% to 42% of transplanted organs are illicitly purchased.</p>
  </div>
</div>
  <div class="grid container">
      <article class="card product-item">
        <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
            <h3>Artist: <%= product.artist %></h3>
            <a href="<%= product.imageURL %>"><img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="image"></a>
        </header>
        <div class="card__content">
            <h2 class="product__price">Price</h2>
            <p class="product__description">$<%= product.price %>,000,000</p>
            <h2 class="product__price">Description</h2>
            <p class="product__description"><%= product.description %></p>
        </div>
    </article>
  </div>

</body>
</html>