<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/prove04/cart.css">
    </head>

    <body>
        <% include ../../../../includes/nav.ejs %>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { var totalPrice = 0; %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { totalPrice += (p.quantity * p.productId.price) %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            <form action="/proveAssignments/prove04/cart-delete-item" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <h3>Total Price of Cart: <%= totalPrice %></h3>
                    <form action="/proveAssignments/prove04/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>