<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/prove04/product.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <% include ../../../../includes/nav.ejs %>
    <%- include('../includes/navigation.ejs') %>

    <div class="jumbotron text-center" style="padding-bottom: 0px">
        <div class="container">
          <h1><%= pageTitle %></h1>
          <h3>Intersting Fact of the Week</h3>
          <p>Did you know that in 2017, the U.S. game industry as a whole was worth US$18.4 billion and consisted of roughly 2457 companies that had a rough total of 220,000 people employed. As of 2018, video games generated sales of US$134.9 billion annually worldwide.</p>
        </div>
    </div>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h3 style="text-align: center;"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content" style="margin-bottom: -2rem;">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <h4 class="product__description">Publisher: <%= product.publisher %></p>
                            <h4 class="product__description">Developer: <%= product.developer %></p>
                        </div>
                        <div class="card__actions">
                                <a href="/proveAssignments/prove04/products/<%= product._id %>" class="btn">Details</a>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>