<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/public/stylesheets/prove04/forms.css">
    <link rel="stylesheet" href="/public/stylesheets/prove04/auth.css">    
    <link rel="stylesheet" href="/stylesheets/prove04/product.css">
</head>

<body>
    <% include ../../../../includes/nav.ejs %>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form text-center" action="/proveAssignments/prove04/signup" method="POST">
            <div>
                <label for="email">E-Mail</label><br>
                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div>
                <label for="password">Password</label><br>
                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= oldInput.password %>">
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label><br>
                <input class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>">
            </div><br>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn product-form" type="submit">Sign Up</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>