<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/products.css"/>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>Lots of items with unrelated pictures</p>
  </div>
</div>
<div class="container">
  <form action="/ta03/filter" method="POST">
    <label for="title">Filter by Tag</label><br>
    <input type="text" name="filter" id="filter" placeholder="Tag">
    <button>Submit</button><hr>
  </form>
</div>
<div class="grid container">
  <% for(var i = 0; i < products.length; i++) { %>
    <article class="card product-item">
      <header class="card__header">
          <h1 class="product__title"><%= products[i].name %></h1>
          <img src="<%= products[i].imageUrl %>" alt="<%= products[i].name %>" class="image">
      </header>
      <div class="card__content">
          <h2 class="product__price">Price</h2>
          <p class="product__description"><%= products[i].price %></p>
          <h2 class="product__price">Description</h2>
          <p class="product__description"><%= products[i].description %></p>
      </div>
  </article>
  <% } %>
</div>


</body>
</html>
